{% extends "PHPTestBundle::layout.html.twig" %}

{% block main_content %}

    <div class="row">
        <div class="columns small-1 small-push-11">
            <a href="/">
                <i class="fa fa-arrow-circle-left"></i> index
            </a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <h1>Create a new product</h1>
        </div>
    </div>
    {% if success %}
        <div class="row">
            <div class="small-12 columns">
                <h2><i class="fa fa-plus-square-o"></i> Product added</h2>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="columns small-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="row">
                    <div class="columns small-12">
                        {{ form_label(form.name) }}
                        <div class="row">
                            <div class="columns small-12 error">
                                {{ form_errors(form.name) }}
                            </div>
                        </div>
                        {{ form_widget(form.name) }}
                    </div>
                </div>

                <div class="row">
                    <div class="columns small-12">
                        {{ form_label(form.imageFile, null, {'label_attr': {'class': 'button'} }) }}
                        <div class="row">
                            <div class="columns small-12 error">
                                {{ form_errors(form.imageFile) }}
                            </div>
                        </div>
                        {{ form_widget(form.imageFile, {'attr': {'class': 'show-for-sr'} }) }}
                    </div>
                </div>

                <div class="row">
                    <div class="columns small-12">
                        {{ form_label(form.description) }}
                        <div class="row">
                            <div class="columns small-12 error">
                                {{ form_errors(form.description) }}
                            </div>
                        </div>
                        {{ form_widget(form.description) }}
                    </div>
                </div>

                <div class="row">
                    <div class="columns small-12">
                        {{ form_label(form.tags) }}
                        <div class="row">
                            <div class="columns small-12 error">
                                {{ form_errors(form.tags) }}
                            </div>
                        </div>
                        {{ form_widget(form.tags) }}
                    </div>
                </div>

                <div class="row">
                    <div class="columns small-6">
                        {{ form_widget(form.save, {'attr': {'class': 'button'}} ) }}
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    {% endif %}

{% endblock %}
