{% extends "PHPTestBundle::layout.html.twig" %}

{% block main_content %}

    <div class="row">
        <div class="columns small-2 small-push-10 text-right">
            <a href="/">
                <i class="fa fa-arrow-circle-left"></i> index
            </a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-10 columns">
            <h1>Products list</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-9 columns">
            <div class="row small-up-1 medium-up-2 large-up-4">
                {% for product in products %}
                    <div class="column">
                        <a href="/product/{{ product.id }}/edit" title="Edit {{ product.name }}">
                            {% if product.imageName is not null %}
                                <img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('product_thumb')  }}" class="thumbnail" alt="{{ product.name }}">
                            {% endif %}
                            <h4>{{ product.name }}</h4>
                        </a>
                    </div>
                {% else %}
                    <div class="column">
                        <p class="error">No products found</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="columns small-12 medium-3">
            <h3>Tag Search</h3>
            {% if app.request.get('query') is not null %}
                <div class="row">
                    <div class="columns small-12">
                        <a href="{{ path('php_test_product_list') }}" class="secondary button">reset search</a>
                    </div>
                </div>

            {% endif %}
            <form method="get" action="">
                <div class="row">
                    <div class="columns small-12 medium-8">
                        <input type="text" placeholder="Search by tag" name="query"/>
                    </div>
                    <div class="columns small-12 medium-4">
                        <button class="button">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
